body {
  background-image: url('https://mdbootstrap.com/img/Photos/Others/img%20%2848%29.jpg'); */
  background-repeat: no-repeat; */
  background-attachment: fixed;  
  background-size: cover;
}
.p1{
  font-size: 18px; 
  color: white;
}
.hsatu{
  color:white;
}
