{% load static %}
<html>

<head>
    <title>Story 6</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style6.css' %}">
    <!-- <link href="{%static 'css/style.css'%}" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
</head>

<body>
    <h1 class="hsatu">Halo, apa kabar?</h1>
    <form method="POST" action="{% url 'test' %}">
        {% csrf_token %}
        {{ form.message }}
        <button id="send" type="submit" class="btn-default">Send</button>
    </form>

    {% for s in data %}
        <section style="border:1px white solid; max-width:50%">
            <p class="stats p1" style="word-wrap:break-word">{{ s.message }}</p>
            <p class="stats p1" style="word-wrap:break-word">{{ s.date}}</p>
            <br>
        </section>
    {% endfor %}

</body>

</html>