body {
	  /* background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg"); */
 	  /* background-repeat: no-repeat; */
  	/* background-attachment: fixed;   */
  	/* background-size: cover; */
}

