{% load static %}
<html>
<head>
    <title>Story 6</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!-- <link href="{%static 'css/style.css'%}" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
</head>
<body class="bg">
    <h1>Halo, apa kabar?</h1>
    <form method="POST" action="{% url 'test' %}">
        {% csrf_token %}
        {{ form.message }}
        <button id="send" type="Submit" class="btn-primary">Send</button>
    </form>

    {% for s in data %}
        <section style="border:1px black solid; max-width:50%">
            <p class="stats" style="max-width: 100%; word-wrap: break-word;">{{ s.message }}</p>
            {{ s.date}}
            <br>
        </section>
    {% endfor %}

</body>

</html>